* {

}

body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    background: #f6f6f6;
}

.wrapper {
    overflow: auto;
}

/*头部*/
.title {
    width: 100%;
    height: 1.4rem;
    line-height: 1.82rem;
    background: #438cf2;
    color: #fff;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0 0.3rem;
    box-sizing: border-box;
	position: relative;
}
.imgbox{
    border: 1px solid #c3dafc;
    border-radius: 4px;
    overflow: hidden;
    margin:15px 0;
}
.title .back{
    width: 0.32rem;
    height: 0.32rem;
    cursor: pointer;
	position: absolute;
	top: 53%;
	left: 0.2rem;
}

.title .t-text {
    flex: 1;
    font-family: '微软雅黑';
    font-size: 0.36rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
}

.content {
    width: 100%;
    height: auto;
    overflow: auto;
    background: #fff;
}

.databox {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 0.3rem;
    margin: auto;
    box-sizing: border-box;
}

.frombox {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    /*padding: 0 0.4rem;*/
    box-sizing: border-box;
    background: #fff;
    border-bottom: 0.01rem solid #ebebeb;
    position: relative;
}

.xing {
    position: absolute;
    left: 0;
    top: 0.3rem;
    font-family: '微软雅黑';
    font-size: 0.28rem;
    color: red;
}

.frombox .fromleft {
    width: 24%;
    height: 1rem;
    font-family: '微软雅黑';
    font-size: 0.28rem;
    color: #333;
    display: flex;
    align-items: center;
    padding-left: 0.2rem;
}

.minheight {
    min-height: 1rem;
}

.frombox .fromright {
    flex: 1;
    display: flex;
    position: relative;
    padding: 0.02rem 0;
}

.fromright input {
    flex: 1;
    border: none;
    outline: none;
    font-family: '微软雅黑';
    font-size: 0.28rem;
    color: #333333;
}

.fromright textarea {
    flex: 1;
    border: none;
    outline: none;
    font-family: '微软雅黑';
    font-size: 0.28rem;
    color: #333333;
    resize: none;
    white-space: normal;
    padding: 0.25rem;
    padding-left: 0;
    padding-right: 0.3rem;
}

.fromright input::-webkit-input-placeholder, .fromright textarea::-webkit-input-placeholder {
    color: #999;
    font-size: 0.28rem;
}

.fromright input:-moz-placeholder, .fromright textarea:-moz-placeholder {
    color: #999;
    font-size: 0.28rem;
}

.fromright input::-moz-placeholder, .fromright textarea::-moz-placeholder {
    color: #999;
    font-size: 0.28rem;
}

.fromright input::-ms-input-placeholder, .fromright textarea::-ms-input-placeholder {
    color: #999;
}

.fromright textarea::-webkit-input-placeholder {
    /* padding-top: 0.25rem; */
}

.fromright select {
    flex: 1;
    border: none;
    outline: none;
    font-family: '微软雅黑';
    font-size: 0.28rem;
    color: #333333;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff !important;
}

.fromright input:disabled {
    background: #fff;
}

.jump {
    width: 0.13rem;
    height: 0.24rem;
    position: absolute;
    right: 0;
    top: 0.38rem;
    cursor: pointer;
}

.dw {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    right: 0;
    top: 0.38rem;
    cursor: pointer;
}

/* 取证说明 */
.Explain {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 0.4rem;
    position: relative;
}

.xingtwo {
    position: absolute;
    left: 0.2rem;
    top: 0;
    font-family: '微软雅黑';
    font-size: 0.28rem;
    color: red;
}

.Explaintitle {
    font-family: '微软雅黑';
    font-size: 0.28rem;
    color: #333;
    margin-top: 0.2rem;
}

.Explaintext {
    width: 100%;
    height: 2rem;
    border: 0.01rem solid #ebebeb;
    outline: none;
    resize: none;
    margin-top: 0.2rem;
    border-radius: 0.05rem;
    padding: 0.2rem;
    font-family: '微软雅黑';
    font-size: 0.28rem;
    color: #333;
    box-sizing: border-box;
}

.Explaintexts {
    margin-bottom: 0.2rem;
}

/* 按钮 */
.buttonbox {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}

.buttonbox button {
    font-family: '微软雅黑';
    font-size: 0.36rem;
    color: #fff;
    padding: 0.15rem 0.8rem;
    text-align: center;
    border: 0.01rem solid #438cf2;
    background: #438cf2;
    border-radius: 0.1rem;
    outline: none;
    cursor: pointer;
}

.title img:eq(0) {
    width: 0.32rem;
    height: 0.32rem;
    display: block;
    position: absolute;
    top: 53%;
    left: 0;
}

.jiange {
    width: 100%;
    /*height: 0.005rem;*/
    background: #f0f0f0;
}

/* 地图定位 */
.hide {
    display: none;
}

#allmap {
    width: 100%;
    height: 100%;
    position: fixed !important;
    top: 0;
    z-index: 2 !important;
}

.content::-webkit-scrollbar { /*滚动条整体样式*/
    width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
    display: none;
}

.content::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    height: 10px;
    border-radius: 10px;
    background-color: #ccc;
    height: 30px !important;
}

.content::-webkit-scrollbar-track { /*滚动条里面轨道*/
    background: none;
}
